@use '../mixin/font-mixin.scss' as *;

@include font("Hellix", "Hellix-Regular", 400, normal);
@include font("Hellix", "Hellix-RegularItalic", 400, italic);

@include font("Hellix", "Hellix-Medium", 500, normal);
@include font("Hellix", "Hellix-MediumItalic", 500, italic);

@include font("Hellix", "Hellix-SemiBold", 600, normal);
@include font("Hellix", "Hellix-SemiBoldItalic", 600, italic);

@include font("Hellix", "Hellix-Bold", 700, normal);
@include font("Hellix", "Hellix-BoldItalic", 700, italic);

@include font("Hellix", "Hellix-ExtraBold", 800, normal);
@include font("Hellix", "Hellix-ExtraBoldItalic", 800, italic);

@include font("Hellix", "Hellix-Black", 900, normal);
@include font("Hellix", "Hellix-BlackItalic", 900, italic);

@include font("Hellix", "Hellix-Light", 300, normal);
@include font("Hellix", "Hellix-LightItalic", 300, italic);

@include font("Hellix", "Hellix-Thin", 200, normal);
@include font("Hellix", "Hellix-ThinItalic", 200, italic);

// // Titles
// $font-h1: (
//   size: 72px,
//   line-height: 86px,
//   weight: 800
// );

// $font-h1-resp: (
//   size: 40px,
//   line-height: 46px,
//   weight: 800
// );

// $font-h1-numbers: (
//   size: 72px,
//   line-height: 86px,
//   weight: 800
// );

// $font-h1-numbers-resp: (
//   size: 48px,
//   line-height: 58px,
//   weight: 800
// );

// $font-h2: (
//   size: 64px,
//   line-height: 78px,
//   weight: 700
// );

// $font-h3: (
//   size: 56px,
//   line-height: 68px,
//   weight: 700
// );

// $font-h4: (
//   size: 40px,
//   line-height: 48px,
//   weight: 600
// );

// $font-h5: (
//   size: 32px,
//   line-height: 40px,
//   weight: 700
// );

// $font-h5-resp: (
//   size: 28px,
//   line-height: 36px,
//   weight: 700
// );

// $font-h6: (
//   size: 24px,
//   line-height: 32px,
//   weight: 700
// );

// $font-h6-numbers: (
//   size: 18px,
//   line-height: 22px,
//   weight: 700
// );

// $font-h6-resp: (
//   size: 20px,
//   line-height: 24px,
//   weight: 700
// );

// $font-h7-resp: (
//   size: 22px,
//   line-height: 30px,
//   weight: 700
// );

// $font-h8-resp: (
//   size: 14px,
//   line-height: 16px,
//   weight: 700
// );

// // Body text styles
// $font-body1: (
//   size: 24px,
//   line-height: 36px,
//   weight: 500
// );

// $font-body1-semi: (
//   size: 24px,
//   line-height: 36px,
//   weight: 600
// );

// $font-body-semi: (
//   size: 22px,
//   line-height: 22px,
//   weight: 600
// );

// $font-body2: (
//   size: 20px,
//   line-height: 32px,
//   weight: 500
// );

// $font-body3: (
//   size: 18px,
//   line-height: 28px,
//   weight: 500
// );

// $font-body4: (
//   size: 16px,
//   line-height: 24px,
//   weight: 500
// );

// $font-body4-resp: (
//   size: 14px,
//   line-height: 22px,
//   weight: 500
// );

// $font-body5-resp: (
//   size: 10px,
//   line-height: 22px,
//   weight: 500
// );

// $font-body6-resp: (
//   size: 12px,
//   line-height: 18px,
//   weight: 500
// );

// // Base styles
// $font-base1: (
//   size: 18px,
//   line-height: 24px,
//   weight: 600
// );

// $font-base2: (
//   size: 16px,
//   line-height: 20px,
//   weight: 600
// );

// $font-base3: (
//   size: 14px,
//   line-height: 18px,
//   weight: 600
// );

:root {
  /* Заголовки */
  --font-h1-size: 72px;
  --font-h1-line-height: 86px;
  --font-h1-weight: 800; /* Extra Bold */

  --font-h1-resp-size: 40px;
  --font-h1-resp--line-height: 46px;
  --font-h1-resp-weight: 800; /* Extra Bold */

  --font-h1-portfolio-size: 40px;
  --font-h1-portfolio--line-height: 46px;
  --font-h1-portfolio-weight: 800; /* Extra Bold */

  --font-h1-numbers-size: 72px;
  --font-h1-numbers-line-height: 86px;
  --font-h1-numbers-weight: 800; /* Extra Bold */

  --font-h1-numbers-resp-size: 72px;
  --font-h1-numbers-resp-line-height: 86px;
  --font-h1-numbers-resp-weight: 800; /* Extra Bold */

  --font-h2-size: 64px;
  --font-h2-line-height: 78px;
  --font-h2-weight: 700; /* Bold */

  --font-h2-main-size: 96px;
  --font-h2-main-line-height: 115px;
  --font-h2-main-weight: 700; /* Bold */

  --font-h3-size: 56px;
  --font-h3-line-height: 68px;
  --font-h3-weight: 700; /* Bold */

  --font-h4-size: 40px;
  --font-h4-line-height: 48px;
  --font-h4-weight: 600; /* Bold, SemiBold */

  --font-h4-num-size: 48px;
  --font-h4-num-line-height: 48px;
  --font-h4-num-weight: 600; /* Bold, SemiBold */

  --font-h4-num2-size: 48px;
  --font-h4-num2-line-height: 58px;
  --font-h4-num2-weight: 600; /* Bold, SemiBold */

  --font-h5-size: 32px;
  --font-h5-line-height: 40px;
  --font-h5-weight: 700; /* Bold */

  --font-h5-resp-size: 28px;
  --font-h5-resp-line-height: 36px;
  --font-h5-resp-weight: 700; /* Bold */

  --font-h5-resp2-size: 28px;
  --font-h5-resp2-line-height: 33px;
  --font-h5-resp2-weight: 700; /* Bold */

  --font-h6-size: 24px;
  --font-h6-line-height: 32px;
  --font-h6-weight: 700; /* Bold */

  --font-h6-numbers-size: 18px;
  --font-h6-numbers-line-height: 22px;
  --font-h6-numbers-weight: 700; /* Bold */

  --font-h6-resp-size: 20px;
  --font-h6-resp-line-height: 24px;
  --font-h6-resp-weight: 700; /* Bold */

  --font-h7-resp-size: 22px;
  --font-h7-resp-line-height: 30px;
  --font-h7-resp-weight: 700; /* Bold */

  --font-h8-resp-size: 14px;
  --font-h8-resp-line-height: 16px;
  --font-h8-resp-weight: 700; /* Bold */

  /* Текстовые стили (Body) */
  --font-body1-size: 24px;
  --font-body1-line-height: 36px;
  --font-body1-weight: 500; /* Medium */

  --font-body1-semi-size: 24px;
  --font-body1-semi-line-height: 36px;
  --font-body1-semi-weight: 600; /* Semi Bold */

  --font-body-semi-size: 22px;
  --font-body-semi-line-height: 22px;
  --font-body-semi-weight: 600; /* Semi Bold */

  --font-body-semi2-size: 24px;
  --font-body-semi2-line-height: 30px;
  --font-body-semi2-weight: 600; /* Semi Bold */

  --font-body-semi-nav-size: 56px;
  --font-body-semi-nav-line-height: 68px;
  --font-body-semi-nav-weight: 600; /* Semi Bold */

  --font-body2-size: 20px;
  --font-body2-line-height: 32px;
  --font-body2-weight: 500; /* Medium */

  --font-body3-size: 18px;
  --font-body3-line-height: 28px;
  --font-body3-weight: 500; /* Medium */

  --font-body4-size: 16px;
  --font-body4-line-height: 24px;
  --font-body4-weight: 500; /* Medium */

  --font-body4-resp-size: 14px;
  --font-body4-resp-line-height: 22px;
  --font-body4-resp-weight: 500; /* Medium */

  --font-body4-resp2-size: 14px;
  --font-body4-resp2-line-height: 17px;
  --font-body4-resp2-weight: 500; /* Medium */

  --font-body5-resp-size: 10px;
  --font-body5-resp-line-height: 22px;
  --font-body5-resp-weight: 500; /* Medium */

  --font-body6-resp-size: 12px;
  --font-body6-resp-line-height: 18px;
  --font-body6-resp-weight: 500; /* Medium */

  --font-body7-resp-size: 12px;
  --font-body7-resp-line-height: 20px;
  --font-body7-resp-weight: 500; /* Medium */

  /* Базовые стили (Base) */
  --font-base1-size: 18px;
  --font-base1-line-height: 24px;
  --font-base1-weight: 600; /* Semi Bold */

  --font-base2-size: 16px;
  --font-base2-line-height: 20px;
  --font-base2-weight: 600; /* Semi Bold */

  --font-base3-size: 14px;
  --font-base3-line-height: 18px;
  --font-base3-weight: 600; /* Semi Bold */

  --font-base4-size: 12px;
  --font-base4-line-height: 14px;
  --font-base4-weight: 600; /* Semi Bold */

  --font-base5-size: 20px;
  --font-base5-line-height: 30px;
  --font-base5-weight: 600; /* Semi Bold */

  --font-base6-size: 14px;
  --font-base6-line-height: 22px;
  --font-base6-weight: 600; /* Semi Bold */

  --font-base7-size: 18px;
  --font-base7-line-height: 22px;
  --font-base7-weight: 600; /* Semi Bold */

}
// Font Family
$font-hellix: Hellix;

.h1 {
  font-size: var(--font-h1-size);
  line-height: var(--font-h1-line-height);
  font-weight: var(--font-h1-weight);
}

.h1-resp {
  font-size: var(--font-h1-resp-size);
  line-height: var(--font-h1-resp--line-height);
  font-weight: var(--font-h1-resp-weight);
}

.h1-numbers {
  font-size: var(--font-h1-numbers-size);
  line-height: var(--font-h1-numbers-line-height);
  font-weight: var(--font-h1-numbers-weight);
}

.h1-numbers-resp {
  font-size: var(--font-h1-numbers-resp-size);
  line-height: var(--font-h1-numbers-resp-line-height);
  font-weight: var(--font-h1-numbers-resp-weight);
}

.h1-portfolio {
  font-size: var(--font-h1-portfolio-size);
  line-height: var(--font-h1-portfolio--line-height);
  font-weight: var(--font-h1-portfolio-weight);
}

.h2 {
  font-size: var(--font-h2-size);
  line-height: var(--font-h2-line-height);
  font-weight: var(--font-h2-weight);
}

.h2-main {
  font-size: var(--font-h2-main-size);
  line-height: var(--font-h2-main-line-height);
  font-weight: var(--font-h2-main-weight);
}

.h3 {
  font-size: var(--font-h3-size);
  line-height: var(--font-h3-line-height);
  font-weight: var(--font-h3-weight);
}

.h4 {
  font-size: var(--font-h4-size);
  line-height: var(--font-h4-line-height);
  font-weight: var(--font-h4-weight);
}

.h5 {
  font-size: var(--font-h5-size);
  line-height: var(--font-h5-line-height);
  font-weight: var(--font-h5-weight);
}

.h5-resp {
  font-size: var(--font-h5-resp-size);
  line-height: var(--font-h5-resp-line-height);
  font-weight: var(--font-h5-resp-weight);
}

.h6 {
  font-size: var(--font-h6-size);
  line-height: var(--font-h6-line-height);
  font-weight: var(--font-h6-weight);
}

.h6-numbers {
  font-size: var(--font-h6-numbers-size);
  line-height: var(--font-h6-numbers-line-height);
  font-weight: var(--font-h6-numbers-weight);
}

.h6-resp {
  font-size: var(--font-h6-resp-size);
  line-height: var(--font-h6-resp-line-height);
  font-weight: var(--font-h6-resp-weight);
}

.h7-resp {
  font-size: var(--font-h7-resp-size);
  line-height: var(--font-h7-resp-line-height);
  font-weight: var(--font-h7-resp-weight);
}

.h8-resp {
  font-size: var(--font-h8-resp-size);
  line-height: var(--font-h8-resp-line-height);
  font-weight: var(--font-h8-resp-weight);
}

.body1 {
  font-size: var(--font-body1-size);
  line-height: var(--font-body1-line-height);
  font-weight: var(--font-body1-weight);
}

.body1-semi {
  font-size: var(--font-body1-semi-size);
  line-height: var(--font-body1-semi-line-height);
  font-weight: var(--font-body1-semi-weight);
}

.body-semi {
  font-size: var(--font-body-semi-size);
  line-height: var(--font-body-semi-line-height);
  font-weight: var(--font-body-semi-weight);
}

.body2 {
  font-size: var(--font-body2-size);
  line-height: var(--font-body2-line-height);
  font-weight: var(--font-body2-weight);
}

.body3 {
  font-size: var(--font-body3-size);
  line-height: var(--font-body3-line-height);
  font-weight: var(--font-body3-weight);
}

.body4 {
  font-size: var(--font-body4-size);
  line-height: var(--font-body4-line-height);
  font-weight: var(--font-body4-weight);
}

.body4-resp {
  font-size: var(--font-body4-resp-size);
  line-height: var(--font-body4-resp-line-height);
  font-weight: var(--font-body4-resp-weight);
}

.body5-resp {
  font-size: var(--font-body5-resp-size);
  line-height: var(--font-body5-resp-line-height);
  font-weight: var(--font-body5-resp-weight);
}

.body6-resp {
  font-size: var(--font-body6-resp-size);
  line-height: var(--font-body6-resp-line-height);
  font-weight: var(--font-body6-resp-weight);
}

.base1 {
  font-size: var(--font-base1-size);
  line-height: var(--font-base1-line-height);
  font-weight: var(--font-base1-weight);
}

.base2 {
  font-size: var(--font-base2-size);
  line-height: var(--font-base2-line-height);
  font-weight: var(--font-base2-weight);
}

.base3 {
  font-size: var(--font-base3-size);
  line-height: var(--font-base3-line-height);
  font-weight: var(--font-base3-weight);
}

.base7 {
  font-size: var(--font-base7-size);
  line-height: var(--font-base7-line-height);
  font-weight: var(--font-base7-weight);
}