:root{
    --color-primary: #DAFD00;
    --color-bg: #FEF9F0;
    --color-white: #FFFFFF;
    --color-gray-200: #D9D9D9;
    --color-gray-300: #7C7C7C;
    --color-gray-400: #5A5A5A;
    --color-gray-500: #363636;
    --color-black: #000000;

    --font-hellix: Hellix;

    /* Titles */
    --font-h1-size: 72px;
    --font-h1-line-height: 86px;
    --font-h1-weight: 800; /* Extra Bold */

    --font-h1-resp-size: 40px;
    --font-h1-resp-line-height: 46px;
    --font-h1-resp-weight: 800; /* Extra Bold */

    --font-h1-numbers-size: 72px;
    --font-h1-numbers-line-height: 86px;
    --font-h1-numbers-weight: 800; /* Extra Bold */

    --font-h1-numbers-resp-size: 48px;
    --font-h1-numbers-resp-line-height: 58px;
    --font-h1-numbers-resp-weight: 800; /* Extra Bold */

    --font-h2-size: 64px;
    --font-h2-line-height: 78px;
    --font-h2-weight: 700; /* Bold */

    --font-h3-size: 56px;
    --font-h3-line-height: 68px;
    --font-h3-weight: 700; /* Bold */

    --font-h4-size: 40px;
    --font-h4-line-height: 48px;
    --font-h4-weight: 600; /* Bold, SemiBold */

    --font-h5-size: 32px;
    --font-h5-line-height: 40px;
    --font-h5-weight: 700; /* Bold */

    --font-h6-size: 24px;
    --font-h6-line-height: 32px;
    --font-h6-weight: 700; /* Bold */

    /* Text styles (Body) */
    --font-body1-size: 24px;
    --font-body1-line-height: 36px;
    --font-body1-weight: 500; /* Medium */

    --font-body1-semi-size: 24px;
    --font-body1-semi-line-height: 36px;
    --font-body1-semi-weight: 600; /* Semi Bold */

    --font-body2-size: 20px;
    --font-body2-line-height: 32px;
    --font-body2-weight: 500; /* Medium */

    --font-body3-size: 18px;
    --font-body3-line-height: 28px;
    --font-body3-weight: 500; /* Medium */

    --font-body4-size: 16px;
    --font-body4-line-height: 24px;
    --font-body4-weight: 500; /* Medium */

    --font-body4-resp-size: 14px;
    --font-body4-resp-line-height: 22px;
    --font-body4-resp-weight: 500; /* Medium */

    /* Base styles (Base) */
    --font-base1-size: 18px;
    --font-base1-line-height: 24px;
    --font-base1-weight: 600; /* Semi Bold */

    --font-base2-size: 16px;
    --font-base2-line-height: 20px;
    --font-base2-weight: 600; /* Semi Bold */

    --font-base3-size: 14px;
    --font-base3-line-height: 18px;
    --font-base3-weight: 600; /* Semi Bold */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-family: var(--font-hellix);
    background-color: var(--color-bg);
    width: 100%;
    overflow-x: hidden;
}

/* Title classes */
.h1 {
    font-size: var(--font-h1-size);
    line-height: var(--font-h1-line-height);
    font-weight: var(--font-h1-weight);
}

.h1-numbers{
    font-size: var(--font-h1-numbers-size);
    line-height: var(--font-h1-numbers-line-height);
    font-weight: var(--font-h1-numbers-weight); 
}
  
.h2 {
    font-size: var(--font-h2-size);
    line-height: var(--font-h2-line-height);
    font-weight: var(--font-h2-weight);
}
  
.h3 {
    font-size: var(--font-h3-size);
    line-height: var(--font-h3-line-height);
    font-weight: var(--font-h3-weight);
}
  
.h4 {
    font-size: var(--font-h4-size);
    line-height: var(--font-h4-line-height);
    font-weight: var(--font-h4-weight);
}
  
.h5 {
    font-size: var(--font-h5-size);
    line-height: var(--font-h5-line-height);
    font-weight: var(--font-h5-weight);
}
  
.h6 {
    font-size: var(--font-h6-size);
    line-height: var(--font-h6-line-height);
    font-weight: var(--font-h6-weight);
}
  
/* Text classes */
.body1 {
    font-size: var(--font-body1-size);
    line-height: var(--font-body1-line-height);
    font-weight: var(--font-body1-weight);
}
  
.body1-semi {
    font-size: var(--font-body1-semi-size);
    line-height: var(--font-body1-semi-line-height);
    font-weight: var(--font-body1-semi-weight);
}
  
.body2 {
    font-size: var(--font-body2-size);
    line-height: var(--font-body2-line-height);
    font-weight: var(--font-body2-weight);
}
  
.body3 {
    font-size: var(--font-body3-size);
    line-height: var(--font-body3-line-height);
    font-weight: var(--font-body3-weight);
}
  
.body4 {
    font-size: var(--font-body4-size);
    line-height: var(--font-body4-line-height);
    font-weight: var(--font-body4-weight);
}
  
.base1 {
    font-size: var(--font-base1-size);
    line-height: var(--font-base1-line-height);
    font-weight: var(--font-base1-weight);
}
  
.base2 {
    font-size: var(--font-base2-size);
    line-height: var(--font-base2-line-height);
    font-weight: var(--font-base2-weight);
}
  
.base3 {
    font-size: var(--font-base3-size);
    line-height: var(--font-base3-line-height);
    font-weight: var(--font-base3-weight);
}

.container{
    width: 100%;
    max-width: 1296px;
    margin: 0 auto;
}

a{
    all: unset;
    cursor: pointer;
}

.nav-btn{
    width: 115px;
    height: 48px;
    padding: 24px 12px;
    border-radius: 48px;
    border: none;
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

/* -------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------Header------------------------------------------------------- */

.header__container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}

.navigation__list{
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 43px;
    z-index: 2;
}

.header__menu{
    position: relative;
    display: flex;
    gap: 48px;
    z-index: 2;
}

.round-blur{
    position: absolute;
    top: -667%;
    left: 50%;
    height: 914px;
    width: 914px;
    background-color: var(--color-primary);
    border-radius: 50%;
    filter: blur(200px);
    z-index: 1;
}

@media(min-width: 320px) and (max-width: 480px) {
    .header__container{
        padding: 10px 16px;
        margin-bottom: 40px;
    }

    .navigation, .nav-btn{
        display: none;
    }

    .round-blur{
        top: -298%;
        left: 50%;
        height: 300px;
        width: 300px;
        filter: blur(150px);
    }

}

/* -------------------------------------------------------Hero------------------------------------------------------- */

.hero__container{
    position: relative;
    padding-top: 96px;
}

.preview p:first-child{
    margin-bottom: 16px;
    padding-left: 64px;
}

.preview p:first-child::before{
    content: '';
    position: absolute;
    left: 0;
    top: 111px;
    display: flex;
    width: 48px;
    height: 2px;
    background-color: var(--color-black);
}

.hero__container h1:first-of-type{
    position: relative;
    z-index: 1;
}

.hero__container h1:last-of-type{
    margin-bottom: 56px;
    color: transparent;
    -webkit-text-stroke: 2px black;
}

.hero__container button:first-of-type{
    width: 190px;
}

.hero__content{
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1078px;
    z-index: 2;
}

.content__row:first-of-type{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
    max-width: 431px;
}

.ux__logo{
    width: 65px;
    height: 65px;
}

.content__row:last-child{
    max-width: 284px;
}

.content__item{
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px;
}

.content__item:nth-of-type(1), .content__item:nth-of-type(2){
    margin-bottom: 16px;
}

.content__item:nth-of-type(2), .content__item:nth-of-type(3){
    gap: 40px;
}

.content__item:nth-of-type(1) p:last-of-type::after, .content__item:nth-of-type(2) p:last-of-type::after{
    content: '';
    position: absolute;
    bottom: -9px;
    display: block;
    width: 165px;
    height: 1px;
    background-color: var(--color-gray-200);
}

@media(min-width: 320px) and (max-width: 480px) {

    .hero__container{
        padding: 0 24px;
    }

    .hero__container button:first-of-type{
        display: flex;
        width: 130px;
        height: 40px;
    }

    .hero__container h1:last-of-type{
        margin-bottom: 24px;
    }

    .preview{
        margin-bottom: 40px;
    }

    .preview p:first-child{
        margin-bottom: 12px;
        padding-left: 28px;
    }

    .preview p:first-child::before{
        top: 15px;
        left: 30px;
        width: 16px;
    }

    .h1{
        font-size: var(--font-h1-resp-size);
        line-height: var(--font-h1-resp-line-height);
        font-weight: var(--font-h1-resp-weight);
    }

    .h1-numbers{
        font-size: var(--font-h1-numbers-resp-size);
        line-height: var(--font-h1-numbers-resp-line-height);
        font-weight: var(--font-h1-numbers-resp-weight); 
    }

    .base2, .body3 {
        font-size: var(--font-body4-resp-size);
        line-height: var(--font-body4-resp-line-height);
        font-weight: var(--font-body4-resp-weight);
    }

    .hero__content{
        display: flex;
        flex-direction: column;
    }

    .content__row:last-child{
        order: -1;
    }

    .ux__logo{
        width: 34px;
        height: 34px;
    }

    .content__item{
        gap: 40px;
    }

    .content__item:nth-of-type(2), .content__item:nth-of-type(3){
        gap: 48px;
    }

    .content__item:nth-of-type(1), .content__item:nth-of-type(2){
        margin-bottom: 20px;
    }

    .content__item:nth-of-type(3){
        margin-bottom: 28px;
    }

    .content__item:nth-of-type(1) p:last-of-type::after, .content__item:nth-of-type(2) p:last-of-type::after{
        bottom: -10px;
        display: block;
        width: 231px;
    }

}

/* -------------------------------------------------------Review------------------------------------------------------- */

.review__container{
    position: relative;
    padding: 113px 0;
}

.round-blur-review{
    position: absolute;
    top: -62%;
    left: -49%;
    height: 914px;
    width: 914px;
    background-color: var(--color-primary);
    border-radius: 50%;
    filter: blur(200px);
    z-index: 1;
}