@use '../variables/font-variables' as *;
@use '../mixin/font-mixin.scss' as *;
@use '../variables/color-variables' as *;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-family: $font-hellix, sans-serif;;
    background-color: $color-bg;
    width: 100%;
    overflow-x: hidden;
}

.container{
    width: 100%;
    max-width: 1296px;
    margin: 0 auto;
}

a{
    all: unset;
    cursor: pointer;
}
