@use '../variables/color-variables' as *;

.case-studies__container{
    position: relative;
    z-index: 2;
    padding: 120px 70px;

    .h2{
        margin-bottom: 24px;
    }

    .body1{
        max-width: 897px;
        color: $color-gray-500;
    }
}

.main__container{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 70px;
    padding: 0 110px;

    .round-blur{
        top: 19%;
        left: -46%;    
    }

    .round-blur:nth-child(2){
        display: none;
    }


    &-left, &-right{
        &-item{
            position: relative;
            z-index: 2;
            img{
                margin-bottom: 32px;
            }

            .body3{
                margin-bottom: 16px;
            }

            .h5{
                margin-bottom: 32px;
                max-width: 464px;
            }

            &--sub{
                max-width: 165px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 75px;
            }
        } 
    
    }

    &-right{
        position: relative;
        padding-top: 135px;

        .round-blur{
            top: 105%;
            left: 69%;
        }
    }


}
