@use '../variables/color-variables' as *;

.header__container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}

.navigation{
    .logo__img--white{
        display: none;
    }

    &__close{
        display: none; 
    }
}

.navigation__list{
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 43px;
    z-index: 2;

    .body3, .base3, &-contacts{
        display: none;
    }
}

.header__menu{
    position: relative;
    display: flex;
    gap: 48px;
    z-index: 2;
}

.round-blur{
    top: -667%;
    left: 50%;
}